

a {
    color: blue;
}

body {
    font-size: 16px;
    color: black;
    background-color: #E6EAEF;
    /*background-image: url(http://whatsonmyblackboard.files.wordpress.com/2013/03/momentum-exhibition12.jpg);*/
    background-repeat: repeat-x;
    margin: 0 auto;
}

form {
    color: black;
    font-family: tahoma;
    margin-left: 20;
    margin-right: 20;
}


h2 {
    color: black;
    font-family: tahoma;
}

#boxcontent {
   margin: 50; /* setting top and bottom margin to 0 and right and left margin to 200px */
    background-color:#E6EAEF;
        /* border-radius: 10px; */
        position: relative;
        min-width: 800px;
        max-width: 1200px;
}

#boxcontent h3 {
    color: black;
    font-family: tahoma;
    margin-left: 20;
}

#boxcontent p {
    color: black;
    font-family: arial;
    margin-left: 20;
    margin-right: 20;
    text-align: justify;
}


#content {
    margin: 0 auto; /* setting top and bottom margin to 0 and right and left margin to 200px */
    background-color:white;
        /* border-radius: 10px; */
        position: relative;
        min-width: 800px;
        max-width: 1200px;
}

#content p {
    color: black;
    font-family: arial;
    margin-left: 20;
    margin-right: 20;
    text-align: justify;
}

#content h2 {
    color: black;
    font-family: tahoma;
    margin-left: 20;
}

#content h3 {
    color: black;
    font-family: tahoma;
    margin-left: 20;
}

#content li {
    color: black;
    font-family: arial;
}


#navigation {
    height: 25px;
    background-color: #E0E0D1;
    text-align: right;
}

#navigation a {
    display: inline;
    padding: 5px 10px;
    color: white;
    background-color: #006699;
    font-family: tahoma,arial;
    font-size: 14px;
    text-decoration: none;
}

#navigation a:hover {
    text-decoration: none;
    color: white;
    background-color: #339933;
}


#orderingChooser {
    height: 25px;    
    text-align: center;
}

#legend {
  height: 25px;
  text-align: center;
  color: gray;
  font-style: bold;
  font-family: tahoma,arial;
}

#orderingChooser a {
    display: inline;
    padding: 5px 10px;
    color: white;
    background-color: #006699;
    font-family: tahoma,arial;
    font-size: 14px;
    text-decoration: none;
}

#orderingChooser a:hover {
    text-decoration: none;
    color: white;
    background-color: #339933;
}

#subjectLabel {
    height: 25px;        
    /*background-color: #339933;*/
}

#subjectLabel a {
    display: inline;
    padding: 5px 10px;
    color: white;
    background-color: gray;
    font-family: tahoma,arial;
    font-size: 14px;
    text-decoration: none;
}

#subjectLabel a:hover {
    text-decoration: none;
    color: white;
    background-color: black;
}

#header {
    margin: 0 auto; /* setting top and bottom margin to 0 and right and left margin to 200px */
    /*background-color: #E4E4E3; */
    background-color: rgba(0, 0, 0, .4);
    min-width: 800px;
    max-width: 1200px;
}

#header h1 {
    color: white;
    font-family: tahoma;
    text-align: center;
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}






/*.box {
  width: 40%;
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}
*/


.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);  
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  align-content: center;
  /*transition: all 5s ease-in-out;*/
}


.popup h2 {
    color:black;
    text-align: center;  
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;  
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 70%;
  overflow: auto;
  text-align: center;
}

.btn-group .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    /*display: inline-block;*/
    font-size: 16px;
    /*margin:0 auto*/
    cursor: pointer;    
}

.btn-group .button:hover {
    background-color: #3e8e41;
}